/lab8task1/nbproject/private/
/lab8task1/build/
/lab8task2/nbproject/private/
/lab8task2/build/
/GUItest/nbproject/private/
/GUItest/build/
/example4/nbproject/private/
/example4/build/
/example13/nbproject/private/
/example12/nbproject/private/
/example12/build/
/example14/nbproject/private/
/example14/build/
