/lab8task1/nbproject/private/
/lab8task1/build/
/lab8task2/nbproject/private/
/lab8task2/build/
/GUItest/nbproject/private/
/GUItest/build/
/example4/nbproject/private/
/example4/build/
/example13/nbproject/private/
/example12/nbproject/private/
/example12/build/
/example14/nbproject/private/
/example14/build/
/guitheme/nbproject/private/
/guitheme/build/
/Lab10q1/nbproject/private/
/Lab10q1/build/
/Lab10q2/nbproject/private/
/Lab10q2/build/
/Lab10q3/nbproject/private/
/Lab10q3/build/
/Lab10q4/nbproject/private/
/Lab10q4/build/
